<a href="https://colab.research.google.com/github/SONYOUNGSOO/PythonTest/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. Mount Drive

In [23]:
from google.colab import drive
drive.mount('/gdrive')

Drive already mounted at /gdrive; to attempt to forcibly remount, call drive.mount("/gdrive", force_remount=True).

In [24]:
!ls -al '/gdrive/My Drive/data'

total 2169852
-rw------- 1 root root     52512 Feb  1 01:51 ETC_75_04_01_580736.csv
-rw------- 1 root root 783889122 May 14 08:28 TCS_영업소간통행시간_1시간_1개월_202001.csv
-rw------- 1 root root 699429059 May 14 08:15 TCS_영업소간통행시간_1시간_1개월_202002.csv
-rw------- 1 root root 738556069 May 14 08:15 TCS_영업소간통행시간_1시간_1개월_202003.csv

#2. Load Data

In [25]:
import pandas as pd

In [ ]:
# Load a file under "data" folder
file = "/gdrive/My Drive/data/TCS_영업소간통행시간_1시간_1개월_202003.csv"
data = pd.read_csv(file, sep=",", encoding="euc-kr")

In [27]:
data.head()

       집계일자  집계시  출발영업소코드  도착영업소코드  TCS차종구분코드  통행시간  Unnamed: 6
0  20200101   17        0      101          3    -1         NaN
1  20200101   17        0      101          1    -1         NaN
2  20200101    9        0      101          2    -1         NaN
3  20200101    9        0      101          1    -1         NaN
4  20200101    7        0      101          1    -1         NaN

In [9]:
data.tail()

              집계일자  집계시  출발영업소코드  도착영업소코드  TCS차종구분코드  통행시간  Unnamed: 6
24149230  20200331   12      755      707          4  6420         NaN
24149231  20200331    6      682      555          1  2489         NaN
24149232  20200331    9      677      172          4  2604         NaN
24149233  20200331   14      641      135          5  1927         NaN
24149234  20200331   11      625      251          1  1687         NaN

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24149235 entries, 0 to 24149234
Data columns (total 7 columns):
 #   Column      Dtype
---  ------      -----
 0   집계일자        int64
 1   집계시         int64
 2   출발영업소코드     int64
 3   도착영업소코드     int64
 4   TCS차종구분코드   int64
 5   통행시간        int64
 6   Unnamed: 6  float64
dtypes: float64(1), int64(6)
memory usage: 1.3 GB

#3. Clean Data

In [11]:
#Checking the null values in the data fields
data.isnull().sum(axis=0)

집계일자                 0
집계시                  0
출발영업소코드              0
도착영업소코드              0
TCS차종구분코드            0
통행시간                 0
Unnamed: 6    24149235
dtype: int64

In [13]:
#Show columns of the data frame
data.columns

Index(['집계일자', '집계시', '출발영업소코드', '도착영업소코드', 'TCS차종구분코드', '통행시간', 'Unnamed: 6'], dtype='object')

In [12]:
# select by '.' Operator
data.집계일자

0           20200301
1           20200301
2           20200301
3           20200301
4           20200301
              ...
24149230    20200331
24149231    20200331
24149232    20200331
24149233    20200331
24149234    20200331
Name: 집계일자, Length: 24149235, dtype: int64

In [14]:
# select by '[]' Operator
data["집계일자"]

0           20200301
1           20200301
2           20200301
3           20200301
4           20200301
              ...
24149230    20200331
24149231    20200331
24149232    20200331
24149233    20200331
24149234    20200331
Name: 집계일자, Length: 24149235, dtype: int64

In [15]:
# select ONLY by '[]' Operator
data["Unnamed: 6"]

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
            ..
24149230   NaN
24149231   NaN
24149232   NaN
24149233   NaN
24149234   NaN
Name: Unnamed: 6, Length: 24149235, dtype: float64

In [45]:
#Drop some columns with null values
data_clean = data.drop(['Unnamed: 6'], axis='columns')

In [46]:
data_clean.head()

       집계일자  집계시  출발영업소코드  도착영업소코드  TCS차종구분코드  통행시간
0  20200201   10        0      101          5    -1
1  20200201   10        0      101          3    -1
2  20200201   10        0      101          1    -1
3  20200201    8        0      101          1    -1
4  20200201    8        0      101          3    -1

In [18]:
(data_clean.통행시간 > 0).unique()

array([False,  True])

In [47]:
data_clean = data_clean[data_clean.통행시간 > 0]

In [48]:
data_clean.head()

          집계일자  집계시  출발영업소코드  도착영업소코드  TCS차종구분코드  통행시간
7318  20200201    7      101      102          1   754
7319  20200201    7      101      102          2   890
7320  20200201    7      101      102          3   753
7321  20200201    7      101      102          4   909
7322  20200201    7      101      102          5   997

In [ ]:
data_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20231577 entries, 5764 to 24149234
Data columns (total 6 columns):
 #   Column     Dtype
---  ------     -----
 0   집계일자       int64
 1   집계시        int64
 2   출발영업소코드    int64
 3   도착영업소코드    int64
 4   TCS차종구분코드  int64
 5   통행시간       int64
dtypes: int64(6)
memory usage: 1.1 GB

#4. Select Data

101,서울 105,기흥 110,목천 115,대전 120,황간 125,남구미 130,동김천 135,경주 140,부산

In [23]:
data_clean.head()

       집계일자  집계시  출발영업소코드  도착영업소코드  TCS차종구분코드  통행시간
0  20200301   18        0      101          1    -1
1  20200301   18        0      101          3    -1
2  20200301   22        0      101          2    -1
3  20200301   12        0      101          3    -1
4  20200301    5        0      101          1    -1

In [24]:
data_clean[0:5]

       집계일자  집계시  출발영업소코드  도착영업소코드  TCS차종구분코드  통행시간
0  20200301   18        0      101          1    -1
1  20200301   18        0      101          3    -1
2  20200301   22        0      101          2    -1
3  20200301   12        0      101          3    -1
4  20200301    5        0      101          1    -1

In [49]:
df_data = pd.DataFrame(data_clean, columns=['집계일자','집계시','출발영업소코드','도착영업소코드', '통행시간'])

In [50]:
df_data.head()

          집계일자  집계시  출발영업소코드  도착영업소코드  통행시간
7318  20200201    7      101      102   754
7319  20200201    7      101      102   890
7320  20200201    7      101      102   753
7321  20200201    7      101      102   909
7322  20200201    7      101      102   997

In [ ]:
long_distance = df_data.통행시간 > 700

In [ ]:
long_distance

5853        False
5854        False
5855        False
5856        False
5857        False
            ...
25596211     True
25596212     True
25596213     True
25596214     True
25596215     True
Name: 통행시간, Length: 21531295, dtype: bool

In [51]:
start_from_101 = df_data[df_data.출발영업소코드 == 101]

In [52]:
start_from_101

              집계일자  집계시  출발영업소코드  도착영업소코드   통행시간
7318      20200201    7      101      102    754
7319      20200201    7      101      102    890
7320      20200201    7      101      102    753
7321      20200201    7      101      102    909
7322      20200201    7      101      102    997
...            ...  ...      ...      ...    ...
22862718  20200229    6      101      515  13026
22862750  20200229   15      101      220   5290
22862838  20200229   19      101      172    923
22862982  20200229   10      101      105    828
22863026  20200229    1      101      515  12210

[243909 rows x 5 columns]

In [53]:
# 101,서울 105,기흥 110,목천 115,대전 120,황간 125,남구미 130,동김천 135,경주 140,부산 
start_from_101_to_140 = start_from_101[start_from_101['도착영업소코드'].isin([105,110,115,120,125,130,135,140])]

In [54]:
start_from_101_to_140

              집계일자  집계시  출발영업소코드  도착영업소코드   통행시간
7573      20200201   14      101      105    800
7574      20200201   14      101      105    833
7575      20200201   14      101      105    752
7576      20200201   14      101      105    832
7577      20200201   14      101      105    869
...            ...  ...      ...      ...    ...
22859526  20200229    5      101      130   7788
22860252  20200229   17      101      135  12632
22860259  20200229   20      101      110   3563
22861915  20200229    4      101      120   6932
22862982  20200229   10      101      105    828

[11896 rows x 5 columns]

In [ ]:
start_from_101_to_140.value_counts()

집계일자      집계시  출발영업소코드  도착영업소코드  통행시간
20200331  13   101      110      3641    2
20200318  9    101      105      808     2
          16   101      105      856     2
20200302  14   101      105      822     2
20200307  12   101      105      734     2
                                        ..
20200321  13   101      110      3888    1
                                 3655    1
                                 3652    1
                                 3360    1
20200301  0    101      105      587     1
Length: 12681, dtype: int64

#5. Convert & Insert Data

The days are numbered from 0 to 6 where 0 is Monday and 6 is Sunday.

3 Ways of Adding new columns to Pandas dataframe

https://re-thought.com/how-to-add-new-columns-in-a-dataframe-in-pandas/

https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
# 1: By declaring a new list as a column
start_from_101_to_140['요일'] = pd.to_datetime(start_from_101_to_140['집계일자'], format='%Y%m%d').dt.dayofweek

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
start_from_101_to_140.head()

          집계일자  집계시  출발영업소코드  도착영업소코드  통행시간  요일
7573  20200201   14      101      105   800   5
7574  20200201   14      101      105   833   5
7575  20200201   14      101      105   752   5
7576  20200201   14      101      105   832   5
7577  20200201   14      101      105   869   5

In [ ]:
# 2: Using .loc[]
start_from_101_to_140.loc[:, '요일'] = pd.to_datetime(start_from_101_to_140['집계일자'], format='%Y%m%d').dt.dayofweek

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item_labels[indexer[info_axis]]] = value

In [ ]:
start_from_101_to_140.head()

          집계일자  집계시  출발영업소코드  도착영업소코드  통행시간  요일
7573  20200201   14      101      105   800   5
7574  20200201   14      101      105   833   5
7575  20200201   14      101      105   752   5
7576  20200201   14      101      105   832   5
7577  20200201   14      101      105   869   5

In [55]:
# 3: Using the .assign() function
start_from_101_to_140 = start_from_101_to_140.assign(요일=pd.to_datetime(start_from_101_to_140['집계일자'], format='%Y%m%d').dt.dayofweek)

In [56]:
start_from_101_to_140.head()

          집계일자  집계시  출발영업소코드  도착영업소코드  통행시간  요일
7573  20200201   14      101      105   800   5
7574  20200201   14      101      105   833   5
7575  20200201   14      101      105   752   5
7576  20200201   14      101      105   832   5
7577  20200201   14      101      105   869   5

In [57]:
start_from_101_to_140.dtypes

집계일자       int64
집계시        int64
출발영업소코드    int64
도착영업소코드    int64
통행시간       int64
요일         int64
dtype: object

#6. Sort & Group Data

In [ ]:
start_from_101_to_140.sort_values(by=['통행시간'])

              집계일자  집계시  출발영업소코드  도착영업소코드   통행시간  요일
10834703  20200316    0      101      105    561   0
10829704  20200316    2      101      105    562   0
10834708  20200316    1      101      105    563   0
13149579  20200319    0      101      105    564   3
13150503  20200319    1      101      105    568   3
...            ...  ...      ...      ...    ...  ..
15229601  20200320    5      101      140  33317   4
11183911  20200305    6      101      135  33939   3
14178791  20200320    4      101      140  34689   4
2652834   20200305    5      101      135  35389   3
14178624  20200320    3      101      140  40466   4

[12711 rows x 6 columns]

In [ ]:
start_from_101_to_140.sort_values(by=['통행시간'], ascending=True)

              집계일자  집계시  출발영업소코드  도착영업소코드   통행시간  요일
11369088  20200115    1      101      105    582   2
11380549  20200115    0      101      105    585   2
21183117  20200127    4      101      105    588   0
11369401  20200115    2      101      105    588   2
1101582   20200103    2      101      105    589   4
...            ...  ...      ...      ...    ...  ..
21899512  20200128    0      101      135  41632   1
13006907  20200117    8      101      130  41696   4
17933952  20200124    7      101      140  41960   4
12959275  20200117    7      101      130  46925   4
11851093  20200117    6      101      130  50001   4

[12749 rows x 6 columns]

In [ ]:
start_from_101_to_140.sort_values(by=['통행시간'], ascending=False)

              집계일자  집계시  출발영업소코드  도착영업소코드   통행시간  요일
11851093  20200117    6      101      130  50001   4
12959275  20200117    7      101      130  46925   4
17933952  20200124    7      101      140  41960   4
13006907  20200117    8      101      130  41696   4
21899512  20200128    0      101      135  41632   1
...            ...  ...      ...      ...    ...  ..
17024590  20200123    3      101      105    589   3
11369401  20200115    2      101      105    588   2
21183117  20200127    4      101      105    588   0
11380549  20200115    0      101      105    585   2
11369088  20200115    1      101      105    582   2

[12749 rows x 6 columns]

In [ ]:
start_from_101_to_140.sort_values(by=['집계일자', '집계시'])

              집계일자  집계시  출발영업소코드  도착영업소코드   통행시간  요일
6107      20200101    0      101      105    652   2
6108      20200101    0      101      105    811   2
6109      20200101    0      101      105    680   2
6110      20200101    0      101      105    616   2
6599      20200101    0      101      110   3319   2
...            ...  ...      ...      ...    ...  ..
24692096  20200131   23      101      125   8478   4
24692317  20200131   23      101      130   9627   4
24692372  20200131   23      101      135  12911   4
24692425  20200131   23      101      140  14339   4
24692426  20200131   23      101      140  13830   4

[12749 rows x 6 columns]

In [ ]:
start_from_101_to_140.sort_values(by=['집계일자', '집계시'], ascending=False)

              집계일자  집계시  출발영업소코드  도착영업소코드   통행시간  요일
24690951  20200131   23      101      105    871   4
24690952  20200131   23      101      105    857   4
24690953  20200131   23      101      105    736   4
24690954  20200131   23      101      105    768   4
24690955  20200131   23      101      105    916   4
...            ...  ...      ...      ...    ...  ..
6599      20200101    0      101      110   3319   2
6600      20200101    0      101      110   3263   2
6825      20200101    0      101      115   5718   2
6826      20200101    0      101      115   9284   2
7271      20200101    0      101      135  13637   2

[12749 rows x 6 columns]

In [ ]:
start_from_101_to_140.groupby(start_from_101_to_140['도착영업소코드']).mean()

                 집계일자        집계시  출발영업소코드          통행시간        요일
도착영업소코드
105      2.020012e+07  11.392094    101.0    872.217530  2.911613
110      2.020012e+07  11.509942    101.0   3605.229955  2.837075
115      2.020012e+07  11.802409    101.0   5826.651204  2.982159
120      2.020012e+07  12.654275    101.0   8498.178439  3.243494
125      2.020012e+07  12.976471    101.0   9688.117647  2.934454
130      2.020012e+07  12.795115    101.0   9661.925373  2.989145
135      2.020012e+07  12.317391    101.0  13859.042029  3.113043
140      2.020012e+07  12.136243    101.0  16407.931217  3.010582

In [ ]:
start_from_101_to_140['통행시간'].groupby(start_from_101_to_140['도착영업소코드']).mean()

도착영업소코드
105      872.217530
110     3605.229955
115     5826.651204
120     8498.178439
125     9688.117647
130     9661.925373
135    13859.042029
140    16407.931217
Name: 통행시간, dtype: float64

In [ ]:
groupby_destination = start_from_101_to_140['통행시간'].groupby(start_from_101_to_140['도착영업소코드'])

In [ ]:
groupby_destination.size()

도착영업소코드
105    4073
110    3118
115    2242
120     538
125     595
130     737
135     690
140     756
Name: 통행시간, dtype: int64

In [ ]:
groupby_destination.sum()

도착영업소코드
105     3552542
110    11241107
115    13063352
120     4572020
125     5764430
130     7120839
135     9562739
140    12404396
Name: 통행시간, dtype: int64

In [ ]:
groupby_destination.mean()

도착영업소코드
105      872.217530
110     3605.229955
115     5826.651204
120     8498.178439
125     9688.117647
130     9661.925373
135    13859.042029
140    16407.931217
Name: 통행시간, dtype: float64

In [ ]:
groupby_destination.max()

도착영업소코드
105     2609
110     9940
115    14695
120    28954
125    21484
130    50001
135    41632
140    41960
Name: 통행시간, dtype: int64

In [ ]:
groupby_destination.min()

도착영업소코드
105      582
110     2082
115     4123
120     5619
125     6904
130     6645
135     9492
140    12340
Name: 통행시간, dtype: int64

#7. Save Data

In [58]:
output = "/gdrive/My Drive/data/data_202002.csv"
start_from_101_to_140.to_csv(output, index=None, header=True)

In [59]:
!ls -al "/gdrive/My Drive/data/data_202002.csv"

-rw------- 1 root root 314682 May 14 08:34 '/gdrive/My Drive/data/data_202002.csv'

#8. Merge Data

In [60]:
data_202001 = pd.read_csv("/gdrive/My Drive/data/data_202001.csv")
data_202002 = pd.read_csv("/gdrive/My Drive/data/data_202002.csv")
data_202003 = pd.read_csv("/gdrive/My Drive/data/data_202003.csv")

FileNotFoundError: ignored

In [ ]:
data_2020 = pd.concat([data_202001, data_202002, data_202003], ignore_index=True, sort=False)

In [ ]:
data_2020.head()

       집계일자  집계시  출발영업소코드  도착영업소코드  통행시간  요일
0  20200101    4      101      105   637   2
1  20200101    4      101      105   773   2
2  20200101    4      101      105   762   2
3  20200101    4      101      105   746   2
4  20200101    4      101      105   875   2

In [ ]:
data_2020_by_time = pd.concat([data_202001, data_202002, data_202003], ignore_index=True, sort=False).set_index('통행시간')

In [ ]:
data_2020_by_time.head()

          집계일자  집계시  출발영업소코드  도착영업소코드  요일
통행시간
637   20200101    4      101      105   2
773   20200101    4      101      105   2
762   20200101    4      101      105   2
746   20200101    4      101      105   2
875   20200101    4      101      105   2

In [ ]:
final = "/gdrive/My Drive/data/data_2020.csv" 
data_2020.to_csv(final, index=None, header=True)

In [ ]:
!ls -al "/gdrive/My Drive/data/data_2020.csv"

-rw------- 1 root root 988308 Feb  2 10:42 '/gdrive/My Drive/data/data_2020.csv'